@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
  font-family: 'Noto Sans', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-name {
  font-family: 'Parisienne', cursive;
  font-size: 75px;
}

.navbar-nav {
  display: flex;
  align-content: center;
}

.subheading {
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
}

.splash-title {

  font-family: 'Work Sans', sans-serif;
  font-size: 150px;
}

.splash-subtext {
  font-family: 'Alex Brush', cursive;
  font-size: 50px;
}


.cardButton {
	background-color: #ffffff;
	border: none;
}

.cardButton:hover {
	background-color: #f4e5d2;
}

dl {
	text-align: left;
}

img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(1.25);
    transform:scale(1.25);
}

/* BEGIN COPY */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a6eae0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #bfbae3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #bfbae3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* END COPY */

span {
	padding: 10px;
}
